<!DOCTYPE html>
<html lang="fr">
<head>
    <title>RIOU Kévin - I am Groot</title>
    <meta name="description" content="RIOU Kévin - Here is Groot ;),Young student in Web development, I learn how to work with a lot of web technologies,Front-End and Back-End.">
    <meta name="keywords" content="RIOU,Kevin,Bretagne,France,Groot,Student,Web,Technologies,Front,Back">

    <%- include('views/sw.ejs') %>

    <%- include('views/googleanalytics.ejs') %>
    
    <%- include('views/meta.ejs') %>

    <%- include('views/dependencies.ejs') %>

    <%- include('views/favicon.ejs') %>

    <!--custom-css-->
    <link href="./css/common.css" rel="stylesheet" type="text/css"/>
    <link href="./css/header.css" rel="stylesheet" type="text/css"/>
    <link href="./css/footer.css" rel="stylesheet" type="text/css"/>
    <link href="./css/who.css" rel="stylesheet" type="text/css"/>
</head>
<body class=" nav-close">

    <%- include('views/header.ejs') %>

    <%- include('views/nav.ejs') %>

    <%- include('views/loader.ejs') %>

    <%- include('views/footer.ejs') %>

    <%- include('views/back.ejs') %>   

    <main id="main">
        <p id="who">Hi, I'm a young <i class="em em-flag-mf"></i> <span class="highlight">french web developer</span> working at Triskalia, at 20 years old I'm planning to study to 
        <span class="highlight">ingenior</span> <i class="em em-male-student"></i> level. Young <span class="stroke">blond man with blue eyes</span> I'm searching for a <span class="stroke">
        Tinder Match</span> job in <span class="highlight">"Alternance"</span> ( It's a part of time in School and the other part in company ). <br/><br/>
        <i></i>I work on <span class="highlight">Front</span> and on <span class="highlight">Back</span> web development, on Front in Html, CSS, JS and 
        framework or library if needed and on Back with PHP or <span class="stroke">NodeJS</span> <i class="em em-heart_eyes"></i> ( replace by <span class="highlight">Deno</span> soon ). 
        This website is done with NodeJS with express for routes and EJS as a template manager<br/><br/><i></i>How am I ? I'm <span class="highlight">calm
        </span>, <span class="highlight">patient</span>, <span class="highlight">respectful</span>, <span class="highlight">motivated</span> and as all good 
        developers I'm <span class="highlight">lazy</span> ( A lazy developer is a good developer because he optimize what he done to do less as possible ).
        Passionnate by <i class="em em-oncoming_automobile"></i> <span class="highlight">RallyCross race and Asian culture</span> <i class="em em-chopsticks"></i>, I work to realize my dreams ( Racing and traveling <i class="em em-airplane"></i>). I'm not saying 
        I'm passionnate by web development because everyone says it and it's redundant event if it's <span class="stroke">false</span> <span class="highlight">
        true</span><br/><br/><i></i>My favorite environment to work is <span class="highlight">ArchLinux</span> with <span class="highlight">DeepinOS</span> UI <i class="em em-heart"></i>
        because it's a <span class="highlight">very interest way</span> to learn more about <span class="stroke">UNIX</span> <span class="highlight">Linux</span> <i class="em em-penguin"></i> 
        and I have the control on what is on my operating system. I work with vscode everyday, it's a very good development tools with his extensions <i class="em em-unicorn_face"></i><br/><br/><i>
        </i>If you want to learn more about me, you can send me a message <a href="https://kevin.riou.pro/talk">here</a> or at <a href="mailto:riou.kkevin@gmail.com">
        riou.kkevin@gmail.com</a> <i class="em em-email"></i>, Have a nice day and <span class="highlight">be Happy !</span> <i class="em em-champagne"></i></p>
    </main>

    <script src="./js/common.js"></script>
    <script src="./js/who.js"></script>
</body>
</html>